body{
	background-image:url(img/adrian-pelletier-374846-unsplash.png);
	background-repeat:no-repeat;
}



#hidden{
	display:flex;
	align-items:flex-start;
	justify-content:flex-start;
	background-color:white;
	margin-left:-8px;
	margin-right:-8px;
	margin-top:-8px;
	flex-wrap:wrap;
	border:1px solid gray;

}

.hidden-text{
	padding:19px;

}

a:link{
	text-decoration:none;

}

.hidden-text a:hover{
  color:black;

}

.hidden-text:first-child{
	background-color:gainsboro;

}

.hidden-text a{
	color:gray;
	font-size:17px;
	font-family:DejaVu Sans Mono, monospace;
}

#logo{
	display:flex;
	align-items:center;
	justify-content:flex-start;
	background-color:white;
	flex-wrap:wrap;
	height:50px;
	margin-left:50px;
	margin-right:50px;
  padding:15px;
	border:1px solid gray;

}

.logo-text{
	text-indent:10px;
	font-size:46px;
	color:black;
	font-family:Snell Roundhand, cursive;
}

.search-1:last-child{
	margin-left:auto;
}


#aside{
	display:flex;
  justify-content:flex-end;
	padding:35px;
	background-color:white;
	margin-left:50px;
	margin-right:50px;
	flex-wrap:wrap;
	border:0.5px solid gray;
}

.nav:first-child{
	margin-right:auto;
	font-size:22px;
	list-style-type:none;
}

.nav a:hover{
  background-color:#C0C0C0;
  border-radius:5px;
}

.nav a{
	color:gray;
	font-family:DejaVu Sans Mono, monospace;
}


.aside-content{
	font-size:13px;
	color:black;
	padding:30px;
	margin:8px;
	height:165px;
	width:165px;
	font-family:DejaVu Sans Mono, monospace;
}

#footer{
	display:flex;
	align-items:center;
	background-color:lightgrey;
	margin-left:50px;
	margin-right:50px;
  height:90px;
	flex-wrap:wrap;
	border:0.8px solid gray;
}

.footer-info{
	font-size:12px;
	font-family:DejaVu Sans Mono, monospace;
  color:black;
}
